* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	line-height: 1.5;
	font-weight: 400;
	margin: 0 auto;
	padding: 0;
	background-image: linear-gradient(
		to right,
		darkgray,
		white,
		white,
		darkgray
	);
}
