
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    
 
}
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
  }
  .carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
  }
  .carousel__btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .carousel__btnPrev {
    left: 0;
    /* margin-left: 0%; */
  }
  .carousel__btnNext {
    right: 0;
    /* margin-right: 0%; */
  }
  .carousel__img {
      align-items: center;
    width: 600px;
    /* margin-left: 25%; */
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
  }


 
  