.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 45px auto;
}
.corpo {
    display: flex;
    flex-direction: column;
    width: 100%;
}