header {
	height: 100px;
	width: 100%;
	background-color: darkred;
	border-bottom: 1px solid red;
}

.itens {
	text-align: justify;
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	gap: 50px;
}

.item {
	color: black;
	font-size: 18px;
	cursor: pointer;
	margin-top: 30px;
}

.item:hover {
	border-bottom: 1px solid red;
}
